In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Tue Apr  2 16:11:12 2019

@author: colinlaurence
"""
import geopandas as gp
import pandas as pd
import numpy as np
import fiona
import shapely
import datetime as dt
import matplotlib as plt
#import cartopy
import pyproj
from scipy.spatial import distance
import time

In [4]:
trips_df = pd.read_csv("vta_gtfs/trips.txt",header=0)
stop_times_df = pd.read_csv("vta_gtfs/stop_times.txt",header=0)

In [5]:
trips_df.head(5)

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
0,10,Weekdays,2493516,10 METRO LIGHT RAIL VIA AIRPORT,0,1073,10_EB01
1,10,Weekdays,2493524,10 METRO LIGHT RAIL VIA AIRPORT,0,1071,10_EB01
2,10,Weekdays,2493578,10 METRO LIGHT RAIL VIA AIRPORT,0,1073,10_EB01
3,10,Weekdays,2493537,10 METRO LIGHT RAIL VIA AIRPORT,0,1071,10_EB01
4,10,Weekdays,2493579,10 METRO LIGHT RAIL VIA AIRPORT,0,1074,10_EB01

In [73]:
stop_times_df.head(5)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,2493516,05:12:00,05:12:00,5228,1,NaN,NaN,NaN,NaN
1,2493516,NaN,NaN,4543,2,NaN,NaN,NaN,NaN
2,2493516,05:15:00,05:15:00,4545,3,NaN,NaN,NaN,NaN
3,2493516,05:21:00,05:21:00,8,4,NaN,NaN,NaN,NaN
4,2493516,05:23:00,05:23:00,6019,5,NaN,NaN,NaN,NaN

In [64]:
route_trip_stop_df=trips_df.merge(stop_times_df, left_on='trip_id', right_on='trip_id')

In [70]:
route_stop_df=pd.Series(route_trip_stop_df.groupby('route_id')['stop_id'].unique())

In [71]:
route_stop_df.head(4)

route_id
10    [5228, 4543, 4545, 8, 6019, 5560, 15, 12, 13, ...
12    [21, 2830, 2831, 2832, 2833, 5572, 28, 29, 505...
13    [98, 99, 100, 101, 102, 103, 104, 105, 106, 29...
14    [256, 3475, 236, 5662, 5372, 5373, 5659, 5660,...
Name: stop_id, dtype: object

In [72]:
route_stop_df.to_csv(r'VTA_routes_stops.csv')

/Users/colinlaurence/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.