In [1]:
import geopandas as gp
import pandas as pd
import numpy as np
import fiona
import shapely
import datetime as dt
import matplotlib as plt
import cartopy
import pyproj

In [2]:
legs = pd.read_csv('Mobiliti/legs.tsv',sep='\t')
nodes = pd.read_csv('ms_nodes.csv')
legs.columns = legs.columns.str.replace(' ', '_')

In [4]:
nodes_alameda = pd.read_csv('county_nodes/nodes_alameda.csv')
nodes_contra_costa = pd.read_csv('county_nodes/nodes_contra_costa.csv')
nodes_marin = pd.read_csv('county_nodes/nodes_marin.csv')
nodes_napa = pd.read_csv('county_nodes/nodes_napa.csv')
nodes_san_francisco = pd.read_csv('county_nodes/nodes_san_francisco.csv')
nodes_san_mateo = pd.read_csv('county_nodes/nodes_san_mateo.csv')
nodes_santa_clara = pd.read_csv('county_nodes/nodes_santa_clara.csv')
nodes_solano = pd.read_csv('county_nodes/nodes_solano.csv')
nodes_sonoma = pd.read_csv('county_nodes/nodes_sonoma.csv')

list_county_nodes = [nodes_alameda,nodes_contra_costa,nodes_marin,nodes_napa,nodes_san_francisco,nodes_san_mateo,nodes_santa_clara,nodes_solano,nodes_sonoma]

In [5]:
legs_orig = legs

In [6]:
#legs_s_c = legs.loc[legs.start_node.isin(nodes_s_c.id)&legs.end_node.isin(nodes_s_c.id)]

list_county_legs = []
for county_nodes in list_county_nodes:
    county_legs = legs.loc[legs.start_node.isin(county_nodes.id)&legs.end_node.isin(county_nodes.id)]
    list_county_legs.append(county_legs)
    legs = legs.drop(county_legs.index.values,axis=0)

In [8]:
list_county_legs_copy = list_county_legs

In [16]:
list_county_legs_location = []
for county_legs in list_county_legs:
    county_legs = pd.merge(county_legs,nodes,left_on=['start_node'],right_on=['id'],sort=False)
    county_legs = pd.merge(county_legs,nodes,left_on=['end_node'],right_on=['id'],sort=False,suffixes=('_start','_end'))
    list_county_legs_location.append(county_legs)

In [10]:
nodes = pd.read_csv('ms_nodes.csv')

In [11]:
test = list_county_legs_copy[0]
test_legs = pd.merge(test,nodes,left_on=['start_node'],right_on=['id'],sort=False)
test_legs = pd.merge(test_legs,nodes,left_on=['end_node'],right_on=['id'],sort=False,suffixes=('_start','_end'))

In [19]:
list_county_legs_location_copy = list_county_legs_location

In [27]:
county_names = ["alameda","contra_costa","marin","napa","san_francisco","san_mateo","santa_clara","solano","sonoma"]

In [28]:
i = 0
for county_legs_location in list_county_legs_location:
    copy = county_legs_location
    copy.drop(['duration_(free)','duration_(congested)','id_start','taz_id_start','id_end','taz_id_end'],axis=1)
    copy.to_csv('legs_{}.csv'.format(county_names[i]))
    i+=1

In [26]:
list_county_legs_location[0].columns.values

array(['leg_id', 'start_node', 'end_node', 'total_distance_(m)',
       'start_time', 'end_time_(free)', 'end_time_(congested)',
       'duration_(free)', 'duration_(congested)', 'delay', 'delay_ratio',
       'id_start', 'x_start', 'y_start', 'lat_start', 'lng_start',
       'taz_id_start', 'id_end', 'x_end', 'y_end', 'lat_end', 'lng_end',
       'taz_id_end'], dtype=object)

In [29]:
nodes.head()

           id              x             y       lat        lng   taz_id
0  1003286453  573278.811625  4.193710e+06  37.88794 -122.16663  23956.0
1  1003286454  573279.364169  4.193702e+06  37.88787 -122.16663  23956.0
2  1003286522  572828.412262  4.193962e+06  37.89025 -122.17173  23962.0
3  1003286524  572843.134829  4.193978e+06  37.89039 -122.17156  23962.0
4  1003286525  572850.602074  4.193987e+06  37.89047 -122.17147  23962.0